<div class="container body">
        <div class="main_container">
            
             <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="#" class="site_title"><i class="fa fa-paw"></i> <span>追溯管理系统</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li><a><i class="fa fa-home"></i> 基础信息管理 <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li>
                                        <a routerLink="/qiyexinxiweihu" routerLinkActive="active" >企业信息维护</a>
                                        </li>
                                        <!-- <li>
                                        <a id="chanpinxinxiweihu" routerLink="/chanpinxinxiweihu" routerLinkActive="active">产品信息维护</a>
                                        </li> -->
                                        <li>
                                        <a routerLink="/chanpinliebiao" routerLinkActive="active">产品列表</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a><i class="fa fa-edit"></i> 追溯码管理 <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li>
                                        <a routerLink="/zhuisumashenqin" routerLinkActive="active">追溯码申请</a>
                                        </li>
                                        <li>
                                        <a routerLink="/zhuisumadaoru" routerLinkActive="active">追溯码导入</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a><i class="fa fa-user"></i> 管理员 <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li>
                                        <a routerLink="/yonghuxinxiguanli" routerLinkActive="active">用户信息管理</a>
                                        </li>
                                         <!-- <li>
                                         <a routerLink="/yonghuxinxiliebiao" routerLinkActive="active">用户信息列表</a>
                                                                                 </li> -->
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
            <div class="nav_menu">
                <nav class="" role="navigation">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span>{{userName}}</span>
                                <span class="fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#modifyPaswd">修改密码</a>
                                </li>
                                <li><a href="登录.html"><i class="fa fa-sign-out pull-right"></i> 退出登录</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
            <router-outlet></router-outlet>
        </div>
    </div>
    <div id="custom_notifications" class="custom-notifications dsp_none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
        </ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
